<h2>
  <% if @range != nil %>
    <%= @range %>s search for"<%= @word %>"
  <% elsif %>
    Books search for"<%= params[:category] %>"
  <% end %>
</h2>

  <% if @range == "User" %>
    <%= render 'users/index', users: @users%>
  <% elsif @range == "Book" %>
    <%= render 'books/index', books: @books%>
  <% else %>
    <%= render 'books/index', books: @books%>
  <% end %>
